*{
    margin: 0;
    padding: 0;
}
  body {
    font-size: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: #282828;
  }

.clock
{
    width: 200px;
    height: 200px;
    position: absolute;
    padding: 2rem;
    border: 7px solid #282828;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                  inset 4px 4px 10px rgba(0,0,0,0.5),
                  inset -4px -4px 10px rgba(67,67,67,0.5),
                  4px 4px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    margin:  auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
}

:nth-child(1) { --nth-child: 1 }
:nth-child(2) { --nth-child: 2 }
:nth-child(3) { --nth-child: 3 }
:nth-child(4) { --nth-child: 4 }
:nth-child(5) { --nth-child: 5}
:nth-child(6) { --nth-child: 6 }
:nth-child(7) { --nth-child: 7 }
:nth-child(8) { --nth-child: 8 }
:nth-child(9) { --nth-child: 9 }
:nth-child(10) { --nth-child: 10 }
:nth-child(11) { --nth-child: 11 }
:nth-child(12) { --nth-child: 12 }
  

.clock-digit{
    left:45%;
    top:45%;
    position:absolute;
    color: #bdbdcb;
    transform:rotateZ(calc((var(--nth-child) + 6)*calc(360/12)*1deg))
    translateY(400%)
    rotateZ(calc((var(--nth-child) + 6)*calc(360/12)*-1deg));
}


@keyframes minuteNeedle {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  @keyframes hourNeedle {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  @keyframes secondNeedle {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }


.basecircle
{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: crimson;  
  border-radius: 200px;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin: auto;
}

.hand {
  right: 50%;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
 
  transition-timing-function:linear;
}

.hand.hour-hand {
  width: 60px;
  height: 5px;
  animation: hourNeedle 3600s infinite;
  animation-timing-function: linear;
  background: #61afff;
}

.hand.min-hand {
  width: 70px;
  height: 3px;
  background: #0b5db0;
  animation: hourNeedle 1500s infinite;  
  animation-timing-function: linear;
}

.hand.second-hand {
  background: #ee791a;
  width: 70px;
  height: 2px;
  animation: secondNeedle 50s infinite;
  animation-timing-function: linear;
}